30 08 * * 1-5 export $(cat /cronjob/loaded-env.txt | xargs); /usr/local/bin/python3.7 /cronjob/populate_db.py >> /cronjob/home/out_cron.log 2>&1
00 09 * * 1-5 export $(cat /cronjob/loaded-env.txt | xargs); /usr/local/bin/python3.7 /cronjob/send_notification.py >> /cronjob/home/notification.log 2>&1
50 08 * * 1-5 export $(cat /cronjob/loaded-env.txt | xargs); /usr/local/bin/python3.7 /cronjob/gsheet_report.py >> /cronjob/home/update_report.log 2>&1
